h2 {
  font-family: 'Righteous', cursive;
  font-family: 'Viga', sans-serif;
}

/* Navbar */
.navbar .container {
  padding: 10px 0;
  font-size: 18px;
}

li {
  font-weight: 500;
}

.navbar .container .navbar-brand {
  font-size: 30px;
  font-family: 'Righteous', cursive;
  font-family: 'Viga', sans-serif;
}

/* Jumbotron */
.jumbotron {
  padding-top: 15rem;
  background-color: #64c9ff;
}

.jumbotron img {
  cursor: pointer;
}

.jumbotron img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

h1 {
  font-family: 'Righteous', cursive;
  font-family: 'Viga', sans-serif;
  margin-top: 25px;
}

hr {
  width: 200px;
  border-top: 2px solid rgb(0, 0, 0);
  margin: auto;
}

.jumbotron p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.lead {
  margin-top: 20px;
}

section {
  padding-top: 8rem;
}

/* Projects */
#projects {
  background-color: #e2edff;
}

@media (min-width: 992px) {
  hr {
    width: 600px;
    border-top: 2px solid rgb(255, 255, 255);
    margin: auto;
  }
}